<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>News Stream</title>
</head>
<body>

<div class="about-logo">
  <a href="{{ base_url }}/welcome">
    {% for w in data.about %}
    <img src="{{ base_url }}/sites/default/files/my_files/{{ w.img }}" alt="logo yopt" class="header-logo">
    {% endfor%}
  </a>
</div>
