{{ attach_library('lendos/scripts_lendos') }}
{% include'@lendos/lendos-head.html.twig' %}
<section class="out" >
  <div class="main-title">{{ data.title }}</div>
  <div class="adds">{{ add_lendos }}</div>

  <div id="form-system-messages"></div>

 {% include'@lendos/comments.html.twig' %}


</section>



{% include '@lendos/lendos-footer.html.twig' %}
